@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #375845;
  --secondary: #AFC083;
  --light: #EFF2E8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-light: var(--light);
  --font-sans: var(--font-inclusive-sans);
  --font-mono: var(--font-inclusive-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #375845;
    --secondary: #AFC083;
    --light: #EFF2E8;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inclusive Sans", sans-serif;
}
